AY.4 
Former VOC Delta GK (B.1.617.2+AY.*) first detected in India

BA.1 
Former VOC Omicron GRA (B.1.1.529+BA.*) first detected in Botswana/Hong Kong/South Africa


XD (Pango v.4.3.1 consensus call), Delta (AY.4-like) (Scorpio)
First detected in Cyprus (GISED no lo dice)

In [60]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import copy

In [61]:
D1=pd.read_csv("alineado_deltacron_origenes_y_Francia_BIEN_DETECTADOS.fasta")
D1

   >hCoV-19/India/KL-202-EKM-731/2021|EPI_ISL_16377459|2021
0   ----------------TTCCCAGGTAACAAACCAACCAACTTTCGA...
1   >hCoV-19/India/KL-2771-EKM-1496/2021|EPI_ISL_1...
2   --TAAAGGTTTATACCTTCCCAGGTAACAAACCAACCAACTTTCGA...
3   >hCoV-19/India/GA-NCCS-586999988/2021|EPI_ISL_...
4   ----------------TTCCTAGGTAACAAACCAACCAACTTTCGA...
5   >hCoV-19/India/GA-NCCS-601716226/2021|EPI_ISL_...
6   ------------------------------ACCAACCAACTTTCGA...
7   >hCoV-19/India/TN-ICMR-INSACOG-SPHL1343/2021|E...
8   -------------------------AACAAACCAACCAACTTTCGA...
9   >hCoV-19/India/AS-NEIST-INSACOG-R5-CIDIN0323/2...
10  ----------------------------------------------...
11  >hCoV-19/India/OR-ILSGS17529/2022|EPI_ISL_1474...
12  ----AAGGTTTATACCTTCCCAGGTAACAAACCAACCAACTTTCGA...
13  >hCoV-19/India/KL-202-EKM-731/2021|EPI_ISL_163...
14  ----------------TTCCCAGGTAACAAACCAACCAACTTTCGA...
15  >hCoV-19/Botswana/R209B69_BHP_AAC31884/2021|EP...
16  ----------------------------------------------...
17  >hCoV-19/Botswana/R209B60_BHP_AAC45786/2021|EP...
18  ----------------------------------------------...
19  >hCoV-19/Botswana/R209B58_BHP_AAC45787/2021|EP...
20  ----------------------------------------------...
21  >hCoV-19/Botswana/R209B55_BHP_859936/2021|EPI_...
22  ----------------------------------------------...
23  >hCoV-19/Botswana/R209B52_BHP_AAC31740/2021|EP...
24  ----------------------------------------------...
25  >hCoV-19/Botswana/R209B19_BHP_861332/2021|EPI_...
26  ----------------------------------------------...
27  >hCoV-19/Botswana/R225B36_BHP_0041NOS/2022|EPI...
28  ----------------------------------------------...
29  >hCoV-19/Botswana/R225B33_BHP_0007SG/2021|EPI_...
30  ----------------------------------------------...
31  >hCoV-19/France/un-IHUMI-077950/2022|EPI_ISL_1...
32  ----------------------------------------------...
33  >hCoV-19/France/HDF-IPP34571/2022|EPI_ISL_1301...
34  ----------------------------------------------...
35  >hCoV-19/France/PAC-IHU-081269_Nova1/2022|EPI_...
36  ----------------------------------------------...
37  >hCoV-19/France/HDF-HMN-22052230219/2022|EPI_I...
38  ------------------------------------CAACTTTCGA...
39  >hCoV-19/France/BFC-LBZCentre-JA2204040093/202...
40  ----------------------GGTAACAAACCAACCAACTTTCGA...
41  >hCoV-19/France/un-IHU-063862/2022|EPI_ISL_177...
42  ----------------------------------------------...
43  >hCoV-19/France/un-IHU-065147/2022|EPI_ISL_177...
44  ----------------------------------------------...
45  >hCoV-19/France/un-IHU-074292/2022|EPI_ISL_177...
46  --------------------------------------ACTTTCGA...
47  >hCoV-19/Denmark/DCGC-652059/2022|EPI_ISL_1815...
48  ----------------------------------------------...
49  >hCoV-19/Denmark/DCGC-652427/2022|EPI_ISL_1815...
50  ----------------------------------------------...

In [78]:
D1.iloc[4,0][21579:25400]

'TTTATTGCCACTAGTCTCTAGTCAGTGTGTTAATCTTAGAACCAGAACTCAATTACCCCCTGCATACACTAATTCTTTCACACGTGGTGTTTATTACCCTGACAAAGTTTTCAGATCCTCAGTTTTACATTCAACTCAGGACTTGTTCTTACCTTTCTTTTCCANNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNGTTGGATGGAAAGTGAGTTCAGAGNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNAGGAAAACAGGGTAATTTCAAAAATCTTAGGGAATTTGTGTTTAAGAATATTGATGGTTATTTTAAAATATATTCTAAGCACACGCCTATTAATTTAGTGCGTGATCTCCCTCAGGGTTTTTCGGCTTTAGAACCATTGGTAGATTTGCCAATAGGTATTAACATCACTAGGTTTCAAACTTTACTTGCTTTACATAGAAGTTATTTGACTCCTGGTGATTCTTCTTCAGGTTGGACAGCTGGTGCTGCAGCTTATTATGTGGGTTATCTTCAACCTAGGACTTTTCTATTAAAATATAATGAAAATGGAACCATTACAGATGCTGTAGACTGTGCACTTGACCCTCTCTCAGAAACAAAGTGTACGTTGAAATCCTTCACTGTAGAAAAAGGAATCTATCAAACTTCTAACTTTAGAGTCCAACCAACAGAATCTATTGTTAGATTTCCTAATATTACAAACTTGTGCCCTTTTGGTGAAGTTTTTAACGCCACCAGATTTGCATCTGTTTATGCTTGGAACAGGAAGAGAATCAGCAACTGTGTTGCTGANNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNAGGGCAAACTGGAAAGATTGCTGATTATAATTATAAATTACCAGATGATTTTACAGGCTGCGTTATAGCTTGGAATTCTAACAATCTTGATTCTAAGGTTGGTGGTAATTATAATTACCGGTATAGATTGTTTAGGAAGTCTAATCTCAAACCTTTTGAGAGAGATATTTCAACTGAAATCTATCAGGCCGGTAGCAAACCTTGTAATGGTGTTGAAGGTTTTAATTGTTACTTTCCTTTACAATCATATGGTTTCCAACCCACTAATGGTGTTGGTTACCAACCATACAGAGTAGTAGTACTTTCTTTTGAACTTCTACATGCACCAGCAACTGTTTGTGGACCTAAAAAGTCTACTAATTTGGTTAAAAACAAATGTGTCAATTTCAACTTCAATGGTTTAACAGGCACAGGTGTTCTTACTGAGTCTAACAAAAAGTTTCTGCCTTTCCAACAATTTGGCAGAGACATTGCTGACACTACTGATGCTGTCCGTGATCCACAGACACTTGAGATTCTTGACATTACACCATGTTCTTTTGGTGGTGTCAGTGTTATAACACCAGGAACAAATACTTCTAACCAGGTTGCTGTTCTTTATCAGGGTGTTAACTGCACAGAAGTCCCTGTTGCTATTCATGCAGATCAACTTACTCCTACTTGGCGTGTTTATTCTACAGGTTCTAATGTTTTTCAAACACGTGCAGGCTGTTTAATAGGGGCTGAACATGTCAACAACTCATATGAGTGTGACATACCCATTGGTGCAGGTATATGCGCTAGTTATCAGACTCAGACTAATTCTCGTCGGCGGGCACGTAGTGTAGCTAGTCAATCCATCATTGCCTACACTATGTCACTTGGTGCAGAAAATTCAGTTGCTTACTCTAATAACTCTATTGCCATACCCACAAATTTTACTATTAGTGTTACCACAGAAATTCTACCAGTGTCTATGACCAAGACATCAGTAGATTGTACAATGTACATTTGTGGTGATTCAACTGAATGCAGCAATCTTTTGTTGCAATATGGCAGTTTTTGTACACAATTAAACCGTGCTTTAACTGGAATAGCTGTTGAACAAGACAAAAACACCCAAGAAGTTTTTGCACAAGTCAAACAAATTTACAAAACACCACCAATTAAAGATTTTGGTGGTTTTAATTTTTCACAAATATTACCAGATCCATCAAAACCAAGCAAGAGGTCATTTATTGAAGATCTACTTTTCAACAAAGTGACACTTGCAGATGCTGGCTTCATCAAACAATATGGTGATTGCCTTGGTGATATTGCTGCTAGAGACCTCATTTGTGCACAAAAGTTTAACGGCCTTACTGTTTTGCCACCTTTGCTCACAGATGAAATGATTNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNGCACTTGGAAAACTTCAAGATGTGGTCAACCAAAATGCACAAGCTTTAAACACGCTTGTTAAACAACTTAGCTCCAATTTTGGTGCAATTTCAAGTGTTTTAAATGATATCCTTTCACGTCTTGACAAAGTTGAGGCTGAAGTGCAAATTGATAGGTTGATCACAGGCAGACTTCAAAGTTTGCAGACATATGTGACTCAACAATTAATTAGAGCTGCAGAAATCAGAGCTTCTGCTAATCTTGCTGCTACTAAAATGTCAGAGTGTGTACTTGGACAATCAAAAAGAGTTGATTTTTGTGGAAAGGGCTATCATCTTATGTCCTTCCCTCAGTCAGCACCTCATGGTGTAGTCTTCTTGCATGTGACTTATGTCCCTGCACAAGAAAAGAACTTCACAACTGCTCCTGCCATTTGTCATGATGGAAAAGCACACTTTCCTCGTGAAGGTGTCTTTGTTTCAAATGGCACACACTGGTTTGTAACACAAAGGAATTTTTATGAACCACAAATCATTACTACAGACAACACATTTGTGTCTGGTAACTGTGATGTTGTAATAGGAATTGTCAACAACACAGTTTATGATCCTTTGCAACCTGAATTAGACTCATTCAAGGAGGAGTTAGATAAATATTTTAAGAATCATACATCACCAGATGTTGATTTAGGTGACATCTCTGGCATTAATGCTTCAGTTGTAAACATTCAAAAAGAAATTGACCGCCTCAATGAGGTTGCCAAGAATTTAAATGAATCTCTCATCGATCTCCAAGAACTTGGAAAGTATGAGCAGTATATAAAATGGCCATGGTACATTTGGCTAGGTTTTATAGCTGGCTTGATTGCCATAGTAATGGTGACAATTATGCTTTGCTGTATGACCAGTTGCTGTAGTTGTCTCAAGGGCTGTTGTTCTTGTGGATCCTGCTGCAAATTTGATGAAGACGACTCTGAGCCAGTGCTCAAAGGAGTCAAATTACATTACACATAAACGAACTTATGGATTT'

In [74]:
[D1.iloc[4,0][i] for i in range(1,5)]
     #range(21579, 25400)]

['-', '-', '-', '-']

In [39]:
def DatosNulos(DF):
    St=DF.iloc[0,0]
    i=0
    while St[i]=='-': i+=1
    return(i)

In [40]:
DatosNulos(D1)

16

# 1. Posiciones donde difieren dos cadenas

# Por genes

In [41]:
St=D1.iloc[0,0]
i=0
while St[i]=='-': i+=1
print(i)

16

In [42]:
D1.iloc[0,0][1]

'-'

In [43]:
i

16

In [44]:
ranges = [
  [266,13468],
  [13468,21555],
  [21563,25384],
  [25393,26220],
  [26245,26472],
  [26523,27191],
  [27202,27387],
  [27394,27759],
  [27756,27887],
  [27894,28259],
  [28284,28577],
  [28274,29533]
]
ranges

[[266, 13468],
 [13468, 21555],
 [21563, 25384],
 [25393, 26220],
 [26245, 26472],
 [26523, 27191],
 [27202, 27387],
 [27394, 27759],
 [27756, 27887],
 [27894, 28259],
 [28284, 28577],
 [28274, 29533]]

In [45]:
Ranges=[[a+i,b+i] for a,b in ranges]
Ranges

[[282, 13484],
 [13484, 21571],
 [21579, 25400],
 [25409, 26236],
 [26261, 26488],
 [26539, 27207],
 [27218, 27403],
 [27410, 27775],
 [27772, 27903],
 [27910, 28275],
 [28300, 28593],
 [28290, 29549]]

In [46]:
Ranges[0]

[282, 13484]

In [47]:
Ranges[0][0], Ranges[0][1]

(282, 13484)

In [48]:
len(Ranges)

12

In [49]:
def dif1(m,n,D,k):
    Dif = pd.DataFrame(columns=('Posicion', 'String1', 'String2'))
    DifN = pd.DataFrame(columns=('Posicion', 'String1', 'String2'))
    for i in range(Ranges[k][0], Ranges[k][1]):
        if D.iloc[2*m,0][i]==D1.iloc[2*n,0][i]:
            continue
        elif D.iloc[2*m,0][i]=='N' or D.iloc[2*n,0][i]=='N':
            DifN.loc[len(DifN)] = (i, D.iloc[2*n,0][i], D1.iloc[2*m,0][i])        
        else: 
            Dif.loc[len(Dif)] = (i, D.iloc[2*n,0][i], D.iloc[2*m,0][i])
    return(Dif)

Diferencias en el gen spike:

In [50]:

dif1(2,12,D1,3)

   Posicion String1 String2
0     25468       C       T
1     25583       T       C
2     25646       G       -
3     26154       G       -
4     26155       T       -
5     26156       T       -

In [51]:
dif1(0,5,D1,1)

   Posicion String1 String2
0     15239       T       C
1     21122       T       G

In [52]:
[dif1(0,5,D1,j) for j in range(len(Ranges))]

[   Posicion String1 String2
 0      2493       G       T
 1      3767       C       T
 2      4437       C       T
 3      4539       T       C
 4     12399       T       C,
    Posicion String1 String2
 0     15239       T       C
 1     21122       T       G,
    Posicion String1 String2
 0     22028       -       A
 1     22029       -       G
 2     22030       -       T
 3     22031       -       T
 4     22032       -       C
 5     22033       -       A
 6     22225       T       G
 7     23665       G       C,
    Posicion String1 String2
 0     25552       T       C,
 Empty DataFrame
 Columns: [Posicion, String1, String2]
 Index: [],
 Empty DataFrame
 Columns: [Posicion, String1, String2]
 Index: [],
 Empty DataFrame
 Columns: [Posicion, String1, String2]
 Index: [],
 Empty DataFrame
 Columns: [Posicion, String1, String2]
 Index: [],
    Posicion String1 String2
 0     27869       T       G,
    Posicion String1 String2
 0     28247       -       G
 1     28248       -       A
 2     28249       -       T
 3     28250       -       T
 4     28251       -       T
 5     28252       -       A
 6     28270       -       A,
 Empty DataFrame
 Columns: [Posicion, String1, String2]
 Index: [],
 Empty DataFrame
 Columns: [Posicion, String1, String2]
 Index: []]

In [53]:
[len(dif1(0,1,D1,j)) for j in range(len(Ranges))]

[9, 4, 4, 0, 0, 0, 0, 0, 0, 1, 0, 2]

In [57]:
[Ranges[j][1]-Ranges[j][0] for j in range(len(Ranges))]

[13202, 8087, 3821, 827, 227, 668, 185, 365, 131, 365, 293, 1259]

In [ ]:
df = pd.DataFrame()

In [58]:
[len(dif1(0,1,D1,j))/(Ranges[j][1]-Ranges[j][0]) for j in range(len(Ranges))]

[0.0006817148916830783,
 0.0004946209966613083,
 0.0010468463752944255,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0027397260273972603,
 0.0,
 0.0015885623510722795]

In [30]:
np.sum([len(dif1(0,1,D1,j)) for j in range(len(Ranges))])

20

# Por genoma
(en un rango conveniente)

In [34]:
def dif2(m,n,D):
    Dif = pd.DataFrame(columns=('Posicion', 'String1', 'String2'))
    DifN = pd.DataFrame(columns=('Posicion', 'String1', 'String2'))
    for i in range(282,29549):
        if D.iloc[2*m,0][i]==D1.iloc[2*n,0][i]:
            continue
        elif D.iloc[2*m,0][i]=='N' or D.iloc[2*n,0][i]=='N':
            DifN.loc[len(DifN)] = (i, D.iloc[2*n,0][i], D1.iloc[2*m,0][i])        
        else: 
            Dif.loc[len(Dif)] = (i, D.iloc[2*n,0][i], D.iloc[2*m,0][i])
    return(Dif)

Diferencia total:

In [35]:
dif2(2,12,D1)

    Posicion String1 String2
0       1047       G       T
1       1883       C       -
2       2831       G       A
3       4180       G       T
4       5385       G       T
..       ...     ...     ...
82     28880       A       T
83     28881       A       G
84     28882       C       G
85     28915       G       T
86     29401       G       T

[87 rows x 3 columns]

# Por genoma
(en todo el rango)

In [33]:
def dif(m,n,D):
    Dif = pd.DataFrame(columns=('Posicion', 'String1', 'String2'))
    DifN = pd.DataFrame(columns=('Posicion', 'String1', 'String2'))
    for i in range(len(D.iloc[0,0])):
        if D.iloc[2*m,0][i]==D1.iloc[2*n,0][i]:
            continue
        elif D.iloc[2*m,0][i]=='N' or D.iloc[2*n,0][i]=='N':
            DifN.loc[len(DifN)] = (i, D.iloc[2*n,0][i], D1.iloc[2*m,0][i])        
        else: 
            Dif.loc[len(Dif)] = (i, D.iloc[2*n,0][i], D.iloc[2*m,0][i])
    return(Dif)

In [127]:
dif(0,1,D1)

     Posicion String1 String2
0           2       T       -
1           3       A       -
2           4       A       -
3           5       A       -
4           6       G       -
..        ...     ...     ...
155     29898       -       A
156     29899       -       A
157     29900       -       A
158     29901       -       A
159     29902       -       A

[160 rows x 3 columns]

# 2. Distancias

In [73]:
m=5
for k in range(m):    
    for j in range(k):
        Dif = pd.DataFrame(columns=('Posicion', 'String1', 'String2'))
        DifN = pd.DataFrame(columns=('Posicion', 'String1', 'String2'))
        for i in range(len(D1.iloc[0,0])):
            if D1.iloc[2*k,0][i]==D1.iloc[2*j,0][i]:
                continue
            elif D1.iloc[2*k,0][i]=='N' or D1.iloc[2*j,0][i]=='N':
                DifN.loc[len(DifN)] = (i, D1.iloc[2*k,0][i], D1.iloc[2*j,0][i])        
            else: 
                Dif.loc[len(Dif)] = (i, D1.iloc[2*k,0][i], D1.iloc[2*j,0][i])    
        #print("la distancia entre", k, "y", j, "es", len(Dif))

In [74]:
m=5
M_dist_array = np.zeros(shape=(m,m))
M_dist=pd.DataFrame(M_dist_array)
for k in range(m):    
    for j in range(k):
        Dif = pd.DataFrame(columns=('Posicion', 'String1', 'String2'))
        DifN = pd.DataFrame(columns=('Posicion', 'String1', 'String2'))
        for i in range(len(D1.iloc[0,0])):
            if D1.iloc[2*k,0][i]==D1.iloc[2*j,0][i]:
                continue
            elif D1.iloc[2*k,0][i]=='N' or D1.iloc[2*j,0][i]=='N':
                DifN.loc[len(DifN)] = (i, D1.iloc[2*k,0][i], D1.iloc[2*j,0][i])        
            else: 
                Dif.loc[len(Dif)] = (i, D1.iloc[2*k,0][i], D1.iloc[2*j,0][i])    
       # print("la distancia entre", k, "y", j, "es", len(Dif))
        M_dist.iloc[k,j]=len(Dif)
        M_dist.iloc[j,k]=len(Dif)       
M_dist

       0      1      2      3      4
0    0.0  160.0   73.0   92.0   92.0
1  160.0    0.0  147.0  165.0  111.0
2   73.0  147.0    0.0   45.0   74.0
3   92.0  165.0   45.0    0.0   76.0
4   92.0  111.0   74.0   76.0    0.0


# 3. Matriz de distancias

# Por genoma

In [75]:
def M(m,DF):
    M_dist_array = np.zeros(shape=(m,m))
    M_dist=pd.DataFrame(M_dist_array)

    for k in range(m):  
        for j in range(k):
            cont=0
            for i in range(len(DF.iloc[0,0])):
                if DF.iloc[2*k,0][i]==DF.iloc[2*j,0][i]:
                    continue
                elif DF.iloc[2*k,0][i]=='N' or DF.iloc[2*j,0][i]=='N':
                    continue                 
                else:
                    cont=cont+1
            M_dist.iloc[k,j]=cont
            M_dist.iloc[j,k]=cont        
    return(M_dist)

In [77]:
M(6,D1)

       0      1      2      3      4      5
0    0.0  160.0   73.0   92.0   92.0  129.0
1  160.0    0.0  147.0  165.0  111.0  144.0
2   73.0  147.0    0.0   45.0   74.0  105.0
3   92.0  165.0   45.0    0.0   76.0   88.0
4   92.0  111.0   74.0   76.0    0.0   50.0
5  129.0  144.0  105.0   88.0   50.0    0.0

In [ ]:
D2=pd.read_csv("alineado_mezclado.fasta")
M(6,D2)

In [ ]:
D3=pd.read_csv("Alineado_prueba_con_GENOMA_REFERENCIA.fasta")
M(7,D3)

In [ ]:
D4=pd.read_csv("Alineado_prueba.fasta")
M(6,D4)

In [ ]:
def M_aco(m,DF):
    M_dist_array = np.zeros(shape=(m,m))
    M_dist=pd.DataFrame(M_dist_array)

    for k in range(m):  
        for j in range(k):
            cont=0
            for i in range(282,29549):
                if DF.iloc[2*k,0][i]==DF.iloc[2*j,0][i]:
                    continue
                elif DF.iloc[2*k,0][i]=='N' or DF.iloc[2*j,0][i]=='N':
                    continue                 
                else:
                    cont=cont+1
            M_dist.iloc[k,j]=cont
            M_dist.iloc[j,k]=cont        
    return(M_dist)

In [ ]:
np.ceil(len(D1)/2)

In [ ]:
np.ceil(34.6)

# Pruebas

In [78]:
def DatosNulos(DF):
    St=DF.iloc[0,0]
    i=0
    while St[i]=='-': i+=1
    return(i)

In [79]:
def NuevosValores(Df):
    i=DatosNulos(Df)
    ranges = [
  [266,13468],
  [13468,21555],
  [21563,25384],
  [25393,26220],
  [26245,26472],
  [26523,27191],
  [27202,27387],
  [27394,27759],
  [27756,27887],
  [27894,28259],
  [28284,28577],
  [28274,29533]
]
    Ranges=[[a+i,b+i] for a,b in ranges]
    return(Ranges)

In [80]:
m=int(np.ceil(len(D1)/2))    
Rangos=NuevosValores(D1)
Rangos

[[282, 13484],
 [13484, 21571],
 [21579, 25400],
 [25409, 26236],
 [26261, 26488],
 [26539, 27207],
 [27218, 27403],
 [27410, 27775],
 [27772, 27903],
 [27910, 28275],
 [28300, 28593],
 [28290, 29549]]

In [107]:
m=5
M_dist=pd.DataFrame([[[0]*12]*m  for i in range(m)])    
M_dist

,0,1,2,3,4
0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]"
1,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]"
2,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]"
3,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]"
4,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]"

In [94]:
M_dist.iloc[0,1]

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [95]:
[len(dif1(0,1,D1,j)) for j in range(len(Ranges))]

[9, 4, 4, 0, 0, 0, 0, 0, 0, 1, 0, 2]

In [104]:
dif1(0,1,D1,0)

   Posicion String1 String2
0      2493       G       T
1      3767       C       T
2      4236       C       T
3      4437       C       T
4      6081       C       T
5      8109       C       T
6     10603       T       C
7     10687       A       G
8     13209       C       T

In [105]:
len(dif1(0,1,D1,0))

9

In [111]:
dif1(0,1,D1,0)

   Posicion String1 String2
0      2493       G       T
1      3767       C       T
2      4236       C       T
3      4437       C       T
4      6081       C       T
5      8109       C       T
6     10603       T       C
7     10687       A       G
8     13209       C       T

In [112]:
dif1(0,1,D1,1)

   Posicion String1 String2
0     14741       C       T
1     17039       C       T
2     20450       T       C
3     21136       G       A

In [118]:
#m=np.ceil(len(Df)/2)
def DistanciasPorGen(Df,m):
    for r in range(m):
        for s in range(r):
            M_dist.iloc[s,r]=[len(dif1(s,r,Df,j)) for j in range(len(Ranges))]
            M_dist.iloc[r,s]=M_dist.iloc[s,r]
    return(M_dist)

In [119]:
DistanciasPorGen(D1,4)

,0,1,2,3,4
0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[9, 4, 4, 0, 0, 0, 0, 0, 0, 1, 0, 2]","[15, 1, 2, 4, 2, 0, 0, 0, 0, 7, 2, 3]","[17, 6, 3, 2, 0, 0, 0, 1, 0, 7, 1, 5]","[10, 1, 3, 2, 0, 0, 0, 0, 0, 0, 0, 1]"
1,"[9, 4, 4, 0, 0, 0, 0, 0, 0, 1, 0, 2]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[20, 4, 2, 4, 2, 0, 0, 0, 0, 7, 2, 3]","[22, 9, 2, 2, 0, 0, 0, 1, 0, 7, 1, 5]","[13, 5, 5, 2, 0, 0, 0, 0, 0, 1, 0, 1]"
2,"[15, 1, 2, 4, 2, 0, 0, 0, 0, 7, 2, 3]","[20, 4, 2, 4, 2, 0, 0, 0, 0, 7, 2, 3]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[16, 5, 0, 3, 2, 0, 0, 1, 0, 0, 0, 3]","[19, 2, 3, 6, 2, 0, 0, 0, 0, 1, 2, 2]"
3,"[17, 6, 3, 2, 0, 0, 0, 1, 0, 7, 1, 5]","[22, 9, 2, 2, 0, 0, 0, 1, 0, 7, 1, 5]","[16, 5, 0, 3, 2, 0, 0, 1, 0, 0, 0, 3]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[21, 7, 4, 4, 0, 0, 0, 1, 0, 1, 1, 4]"
4,"[10, 1, 3, 2, 0, 0, 0, 0, 0, 0, 0, 1]","[13, 5, 5, 2, 0, 0, 0, 0, 0, 1, 0, 1]","[19, 2, 3, 6, 2, 0, 0, 0, 0, 1, 2, 2]","[21, 7, 4, 4, 0, 0, 0, 1, 0, 1, 1, 4]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]"

In [120]:
M(4,D1)

       0      1      2      3
0    0.0  160.0   73.0   92.0
1  160.0    0.0  147.0  165.0
2   73.0  147.0    0.0   45.0
3   92.0  165.0   45.0    0.0